@charset "UTF-8";

.header-wrap .header-util {
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #e7e7e7;
}
.header-wrap .util {
  width: 1200px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header-wrap .util-left {
  font-size: 0.812rem;
  font-weight: 400;
  color: #7e7e7e;
  display: flex;
  align-items: center;
}
.header-wrap .util-left a {
  padding-right: 5px;
}
.header-wrap .util-left img {
  width: 10px;
  height: 12px;
}
.header-wrap .util-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-right: -3px;
}
.header-wrap .util-right .sns {
  margin-right: 3px;
}
.header-wrap .util-right img {
  width: 21px;
  height: 21px;
}

.header-wrap .logo-wrap {
  width: 1200px;
  /* height: 127px; */
  padding: 31px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}
.header-wrap .logo-wrap .corona {
  width: 250px;
  height: 65px;
}
.header-wrap .logo-wrap .logo {
  width: 264px;
  height: 50px;
}
.header-wrap .top-slider {
  margin: 0;
  overflow: hidden;
  margin-right: -20px;
}
.inner-s {
  overflow: hidden;
  margin: 0 40px;
}
.header-wrap .top {
  width: 230px;
  height: 65px;
}
.header-wrap .swiper-button-next,
.header-wrap .swiper-button-prev {
  color: #222;
}
.header-wrap .swiper-button-prev:after {
  font-size: 13px;
}
.header-wrap .swiper-button-next:after {
  font-size: 13px;
}

.hamburger {
  display: none;
}

/* 메뉴박스 */
.header-wrap .gnb-wrap {
  background: #fff;
  height: 40px;
  border-bottom: 1px solid #000;
}
.header-wrap .gnb-wrap.active {
  opacity: 1;
  transition: 0.3s;
}
.header-wrap .gnb-list {
  display: flex;
  justify-content:center;
  position: absolute;
  width:100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  background: #fff;
  height: 40px;
  z-index: 999;
}
.header-wrap .gnb-wrap .dept1 {
  display: inline-block;
  /* width: 236px; */
  margin-right: 136px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
}
.header-wrap .gnb-wrap .dept1-1{
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
.header-wrap .gnb-wrap .dept2 {
  padding-top: 50px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}
.header-wrap .gnb-wrap:before{
  content:"";
  border-bottom:1px solid #ddd;
  position: absolute;
  top: 208px;
  width: 100%;
  height: 1px;
  z-index: 99999;

}
.header-wrap .gnb-wrap span {
  position: relative;
}
.header-wrap .gnb-wrap span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 0;
  height: 2px;
  background: #7955f3;
  transition: all 0.5s;
}
.header-wrap .gnb-list li:hover span:after {
  width: 100%;
  left: 0;
}

/* banner */
.banner .main-slide-wrap {
  position: relative;
  height: 550px;
}
.slider-wrap {
  text-align: center;
  height: 550px;
}
.slider-wrap .slider-1 {
  background-color: #065b5e;
}
.slider-wrap .slider-2 {
  background-color: #d33f55;
}
.slider-wrap .slider-3 {
  background-color: #0054a5;
}
.slider-wrap .slider-4 {
  background: linear-gradient(
    to right,
    #e7db47 0%,
    #e7db47 50%,
    #7955f3 50%,
    #7955f3 100%
  );
}
.banner .main-slide-wrap .slider-wrap img {
  width: 1200px;
  height: 550px;
}

.banner .bodySwiper .swiper-button-next:after,
.banner .bodySwiper .swiper-button-prev:after {
  display: none;
}

/* .banner .btns{
  display: flex;
  position: absolute;
  bottom: 57px;;
  right: 780px;
  z-index: 999;
}
.banner .btns div{
  margin-right: 8px;
}
.banner .btns .prev,
.banner .btns .next{
  width: 6px;
  height: 10px;
}
.banner .btns .start,
.banner .btns .stop{
  width: 10px;
  height: 10px;

}  */

/* 슬라이드메뉴 */
.swiper-container-horizontal
  .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
  margin-right: 20px;
}
.swiper-pagination-bullet {
  position: relative;
  width: 190px;
  height: auto;
  text-align: center;
  bottom: 16px;
  border-radius: 0;
  opacity: 999;
  margin-right: 20px;
  background-color: transparent;
}
.swiper-pagination-bullet p {
  font-size: 15px;
  bottom: 16px;
  line-height: 16px;
  font-weight: 300;
  color: #fff;
}
.swiper-pagination-bullet i {
  position: absolute;
  bottom: 20px;
  margin-bottom: 5px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
  /* progress bar 배경 */
}
.swiper-pagination-bullet b {
  position: absolute;
  bottom: 20px;
  margin-bottom: 5px;
  left: 0;
  z-index: 9999;
  width: 0%;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
  /* //progress bar 채워지는 부분 */
}

.swiper-pagination-bullet-active {
  background-color: transparent;
}
.swiper-pagination-bullet-active b {
  animation-name: countingBar;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes countingBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* sec-1 */
.sec-1 .container,
.sec-2 .container,
.sec-3 .container,
.sec-4 .container {
  width: 1200px;
  margin: 0 auto;
}
.sec-1 {
  background: url(../image/bg_info-3.jpg) no-repeat center;
  background-size: cover;
  padding: 120px 0;
}
.sec-1 .txt-t,
.sec-2 .txt-t,
.sec-3 .txt-t,
.sec-4 .txt-t {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #262320;
}
.sec-1 .txt,
.sec-2 .txt,
.sec-3 .txt {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.sec-1 .main-box {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.sec-1 .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}
.sec-1 .main-box span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
}
.sec-1 .main-box h2 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1.2;
}
.sec-1 .box {
  width: 350px;
  height: 520px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  background: #fff;
}
.sec-1 .box img {
  width: 350px;
  height: 323px;
}
.sec-1 .box img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

/* .sec-2 */
.sec-2 {
  /* background: url(../image/bg_info-2.jpg) no-repeat center;
    background-size: cover; */
  background-color: #f2f7fb;
  padding: 100px 0;
}
.sec-2 .success {
  width: 630px;
  height: 660px;
  margin-top: 100px;
}
.sec-2 .suc-story {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 630px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}
.sec-2 .suc-story img {
  width: 138px;
  height: 138px;
  margin-right: 20px;
}
.sec-2 .suc-story span {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}
.sec-2 .suc-story p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

/* .sec-3 */
.sec-3 {
  padding: 100px 0;
}
.sec-3 .sec-3-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.sec-3 .youtube {
  width: 565px;
  height: 320px;
}
.sec-3 .inner-box {
  display: flex;
  justify-content: space-between;
  margin-right: -20px;
}
.sec-3 .inner-box .box1,
.sec-3 .inner-box .box2 {
  width: 270px;
  height: 320px;
  border-radius: 20px;
  border: 1px solid #e7e7e7;
  margin-right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-3 .inner-box img {
  width: 130px;
  height: 130px;
  display: block;
}
.sec-3 .box-txt {
  margin-top: 20px;
}
.sec-3 span {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
}
.sec-3 p {
  font-style: 1rem;
}

/* sec-4 */
.sec-4 {
  background: #273051;
  padding: 100px 0;
}
.sec-4 .txt-t {
  color: #fff;
}
.sec-4 .sec-4-box {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 70px 70px;
  width: 1200px;
  /* height: 720px; */
  border-radius: 30px 30px;
  background: #fff;
}
.sec-4 .map-box {
  background: url(../image/map.png) no-repeat center;
  background-size: contain;
  width: 550px;
  height: 605px;

  position: relative;
}
.sec-4 .map-box a {
  /* width: 100%; */
  display: block;
  position: absolute;
  color: #858585;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}
.sec-4 .map-box a::before {
  display: block;
  width: 19px;
  height: 29px;
  margin: 0 auto;
  background: url(../image/ico_map_off.png) no-repeat left top;
  content: "";
}
.sec-4 .map-box a.active::before,
.sec-4 .map-box a:hover::before
/*.sec-4 .map-box a.on::before*/ {
  background: url(../image/ico_map_on.png) no-repeat left top;
}
/* .sec-4 .map-box a.active::before .sec-4 .map-box a {
  color: #666;
  font-weight: 400;
} */
.sec-4 .map-box .map-a {
  top: 400px;
  left: 300px;
}
.sec-4 .map-box .map-b {
  top: 490px;
  left: 320px;
}
.sec-4 .map-box .map-c {
  top: 300px;
  left: 370px;
}
.sec-4 .map-box .map-d {
  top: 340px;
  left: 340px;
}
.sec-4 .map-box .map-e {
  top: 30px;
  left: 260px;
}
.sec-4 .map-box .map-f {
  top: 450px;
  left: 280px;
}
.sec-4 .right-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.r-inbox div {
  display: none;
  background: #fff;
  /* width: 250px;
    height: 185px; */
}
.r-inbox div.active {
  display: block;
}
.sec-4 .r-inbox h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
.sec-4 .r-inbox span {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.4;
}
.sec-4 .r-inbox p {
  font-size: 1rem;
  line-height: 1.3;
  word-spacing: 3px;
}

.sec-4 .tab-inner {
  margin-top: 40px;
}
.sec-4 .end {
  margin-top: 40px;
  width: 490px;
  height: 150px;
}
.sec-4 .swiper-button-next,
.sec-4 .swiper-button-prev {
  display: none;
}
.sec-4 .tab-inner {
}
.sec-4 .btn {
  overflow: hidden;
}
.sec-4 .btn li {
  float: left;
  padding: 7px 0;
  width: 130px;
  height: 40px;
  cursor: pointer;
  background: #eee;
  text-align: center;
  border: 1px solid #000;
  border-bottom: 0;
}
.sec-4 .btn li.active {
  background: #000;
  color: #fff;
}
.sec-4 .tabs div {
  display: none;
  background: #fff;
  padding-top: 20px;
  /* overflow: hidden; */
  border-top: 1px solid #000;
}
.sec-4 .tabs div.active {
  display: block;
}
.sec-4 .tabs div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}
.swiper-pagination {
  font-size: 12px;
}
.swiper-pagination-fraction {
  top: 10px;
  text-align: right;
  padding-right: 20px;
}

.footer {
  padding: 100px 0;
}
.footer > ul {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.footer > ul > li {
  padding: 0 50px;
  font-size: 15px;
}
.footer > .addr {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.footer .addr .footer-logo {
  width: 193px;
  height: 37px;
  margin-right: 36px;
}
.footer .addr .footer-addr {
  font-size: 0.812rem;
}

@media (max-width: 1250px) {
  .header-wrap .util {
    width: 960px;
  }
  .header-wrap .logo-wrap {
    width: 960px;
  }
  .header-wrap .logo-wrap .corona {
    width: 200px;
    height: 40px;
  }
  .header-wrap .logo-wrap .logo {
    width: 211px;
    height: 40px;
  }
  .header-wrap .top {
    width: 185px;
    height: 51px;
  }
  .header-wrap .swiper-button-prev:after {
    font-size: 10px;
  }
  .header-wrap .swiper-button-next:after {
    font-size: 10px;
  }
  .header-wrap .gnb-wrap .dept1 {
    margin: 0 105px 0 0;
  }
  .banner .main-slide-wrap .slider-wrap img {
    width: 960px;
    height: 440px;
  }
  .swiper-pagination-bullet {
    width: 150px;
  }
  .sec-1 .container,
  .sec-2 .container,
  .sec-3 .container,
  .sec-4 .container {
    width: 960px;
    margin: 0 auto;
  }
  .sec-1 .box {
    width: 298px;
    height: 442px;
    padding-top: 38px;
  }
  .sec-1 .box img {
    width: 298px;
    height: 275px;
  }
  .sec-3 .youtube {
    width: 480px;
    height: 272px;
  }
  .sec-3 .inner-box {
    margin-right: -10px;
  }
  .sec-3 .inner-box .box1,
  .sec-3 .inner-box .box2 {
    width: 220px;
    height: 272px;
    margin-right: 10px;
  }
  .sec-3 .inner-box span {
    font-size: 1rem;
  }
  .sec-3 .inner-box p {
    font-size: 0.9rem;
  }
  .sec-3 .inner-box img {
    width: 110px;
    height: 110px;
  }
  .sec-4 .map-box {
    width: 450px;
    height: 580px;
  }
  .sec-4 .sec-4-box {
    width: 960px;
    /* height: 650px; */
    padding: 50px 30px;
  }
  .sec-4 .end {
    width: 392px;
    height: 120px;
  }

  .footer .footer-logo {
    display: none;
  }
  .sec-1 .txt-t,
  .sec-2 .txt-t,
  .sec-3 .txt-t,
  .sec-4 .txt-t {
    font-weight: 2rem;
  }
  .sec-1 .txt,
  .sec-2 .txt,
  .sec-3 .txt {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .header-wrap .util {
    width: 100%;
    padding: 0 16px;
  }
  .header-wrap .util-left {
    opacity: 0;
  }
  .header-wrap .logo-wrap {
    width: 100%;
    padding: 16px;
  }
  .header-wrap .logo-wrap .corona {
    display: none;
  }
  .header-wrap .top-slider {
    display: none;
  }
  .header-wrap .gnb-wrap {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 600px;
    /* display: none; */
    opacity: 0;
  }
  .header-wrap .gnb-list {
    display: inline-block;
    width: 100%;
    height: 600px;
    padding: 0 20px;
  }
  .header-wrap .gnb-wrap .dept1 {
    padding: 20px 0;
    font-weight: 400;
    font-size: 18px;
  }
  .header-wrap .gnb-wrap .gnb-all {
    display: none;
  }
  .header-wrap .gnb-wrap .dept2 {
    padding: 10px 0;
    margin-left: 10px;
    display: none;
  }
  .header-wrap .gnb-list li:hover .dept2 {
    display: block;
  }
  .header-wrap .gnb-list li:hover span:after {
    display: none;
  }

  .header-wrap .hamburger {
    display: block;
    width: 20px;
    height: 14px;
    position: relative;
    top: 10px;
    cursor: pointer;
  }
  .header-wrap .hamburger span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #262320;
  }
  .header-wrap .hamburger span:nth-child(2) {
    top: 50%;
  }
  .header-wrap .hamburger span:nth-child(3) {
    top: 100%;
  }

  .banner .main-slide-wrap .slider-wrap img {
    width: 854px;
    height: 392px;
  }
  .swiper-pagination-bullet {
    width: 120px;
  }
  .swiper-pagination-bullet p {
    font-size: 13px;
  }
  .sec-1 .container,
  .sec-2 .container,
  .sec-3 .container,
  .sec-4 .container {
    width: 100%;
    padding: 0 16px;
  }
  .sec-1 .txt-t,
  .sec-2 .txt-t,
  .sec-3 .txt-t,
  .sec-4 .txt-t {
    font-size: 2.5rem;
  }
  .sec-1 .txt,
  .sec-2 .txt,
  .sec-3 .txt {
    font-size: 1.2rem;
  }
  .sec-1 .main-box {
    margin-top: 80px;
  }
  .sec-1 .box {
    width: 268px;
    height: 397px;
    padding-top: 38px;
  }
  .sec-1 .main-box span {
    font-size: 0.9rem;
  }
  .sec-1 .main-box h2 {
    font-size: 1.4rem;
    line-height: 1;
  }
  .sec-1 .box img {
    width: 268px;
    height: 247px;
  }
  .sec-2 .success {
    margin-top: 80px;
  }
  .sec-3 .sec-3-inner {
    display: block;
    margin-top: 80px;
  }
  .sec-3-inner .youtube {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 560px;
    height: 315px;
  }
  .sec-3 .inner-box {
    justify-content: center;
    margin-right: -20px;
  }
  .sec-3 .inner-box .box1,
  .sec-3 .inner-box .box2 {
    width: 270px;
    height: 320px;
    margin-right: 20px;
  }
  .sec-3 .inner-box img {
    width: 130px;
    height: 130px;
  }
  .sec-3 span {
    font-size: 1.25rem;
  }
  .sec-3 p {
    font-style: 1rem;
  }
  .sec-4 .sec-4-box {
    display: block;
    width: 760px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .sec-4 .left-box {
    display: block;
    margin-bottom: 20px;
  }
  .sec-4 .map-box {
    width: 100%;
  }
  .sec-4 .right-box {
    margin: 0 auto;
    width: 450px;
  }
  .footer > ul > li {
    padding: 0 30px;
    white-space: nowrap;
  }
  .footer .addr .footer-addr {
    font-size: 0.812rem;
    text-align: center;
    padding: 16px;
  }
  .sec-1,
  .sec-2,
  .sec-3,
  .sec-4 .footer {
    padding: 80px 0;
  }
}
@media (max-width: 860px) {
  .banner .main-slide-wrap .slider-wrap img {
    width: 691px;
    height: 317px;
  }
  .sec-1 .main-box {
    display: block;
  }
  .sec-1 .box {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 760px) {
  .banner .main-slide-wrap .slider-wrap img {
    width: 100%;
  }
  .swiper-pagination-bullet {
    width: 95px;
  }
  .swiper-pagination-bullet p {
    font-size: 12px;
  }
  .sec-1 .txt-t,
  .sec-2 .txt-t,
  .sec-3 .txt-t,
  .sec-4 .txt-t {
    font-size: 2rem;
  }
  .sec-1 .txt,
  .sec-2 .txt,
  .sec-3 .txt {
    font-size: 1rem;
    word-break: keep-all;
  }
  .sec-1 .box {
    width: 100%;
  }
  .sec-1 .box img {
    width: 100%;
  }
  .sec-2 .success {
    width: 100%;
    padding: 16px;
  }
  .sec-2 .suc-story {
    width: 100%;
  }
  .sec-2 .suc-story p {
    font-size: 12px;
    padding: 0 10px 0 0;
  }
  .sec-3 .youtube {
    width: 560px;
    height: 315px;
  }
  .sec-3 .youtube {
    width: 100%;
  }
  .sec-3 .inner-box .box1 {
    margin-right: 10px;
  }
  .sec-4 .sec-4-box {
    width: 100%;
  }
  .sec-4 .right-box {
    width: 100%;
  }
  .sec-4 .r-inbox h3 {
    font-size: 1.75rem;
  }
  .sec-4 .r-inbox span {
    font-size: 1.5em;
  }
  .sec-4 .r-inbox p {
    font-size: 1rem;
  }
  .sec-4 .tabs div p {
    font-size: 0.875em;
  }
  .sec-4 .end {
    width: 100%;
  }
  .footer > ul > li {
    padding: 0 20px;
  }
  .addr {
    padding: 0 30px;
  }
}
@media (max-width: 540px) {
  .sec-4 .map-box .map-a {
    top: 400px;
    left: 30px;
  }
  .sec-4 .map-box .map-b {
    top: 450px;
    left: 70px;
  }
  .sec-4 .map-box .map-c {
    top: 300px;
    left: 80px;
  }
  .sec-4 .map-box .map-d {
    top: 340px;
    left: 110px;
  }
  .sec-4 .map-box .map-e {
    top: 60px;
    left: 5px;
  }
  .sec-4 .map-box .map-f {
    top: 420px;
    left: 10px;
  }
}
